body {
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
}

#boolean {
  color: blue;
}

.didascal {
  font-size: x-small;
}

#evidenzia {
  background-color: yellow;
}

#evidenzia_2 {
  background-color: yellow;
}

#foot {
  color: rgb(95, 95, 95);
}

.imagefnt {
  color: white;
  background-image: url(../img/monitor.jpg);
  
}

.imagefnt2 {
    image-resolution: 200px;
  color: white;
  background-image:  url(../img/graph.jpg);
}

.intestazione {
  background-color: rgb(99, 99, 255);
  color: white;
}

.name {
  background-color: blue;
  width: 30%;
  text-align: start;

  color: white;
}

.name2 {
  background-color: blue;
  width: 30%;
  text-align: start;

  color: white;
}

.name3 {
  background-color: blue;
  width: 35%;
  text-align: start;

  color: #ffffff;
}

.azzurra {
  background-color: rgb(164, 209, 252);
  text-align: center;
  text-align: start;
}

.bianca {
  background-color: rgb(255, 255, 255);
  text-align: center;
  text-align: start;
}

li {
  margin-left: -20px;
}

#font_table {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

h1 {
  font-size: 40px;
  margin-bottom: 0px;
}
