body {
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
}

#boolean {
  color: blue;
}

.didascal {
  font-size: x-small;
}

#evidenzia {
  background-color: yellow;
}

#evidenzia_2 {
  background-color: yellow;
}

#foot {
  color: rgb(119, 118, 118);
}

.imagefnt {
  color: white;
  background-image: url(../img/monitor.jpg);
  width: 200px;
  height: 200px;
  line-height: 50px;
  padding-left: 15px;
  margin-top: 5px;
  font-size: 20px;
}

.imagefnt2 {
  color: white;
  background-image: url(../img/graph.jpg);
  width: 200px;
  height: 200px;
  line-height: 50px;
  padding-left: 15px;
  font-size: 20px;
}

.intestazione {
  background-color: rgb(99, 99, 255);
  color: white;
  cellspacing:0px;
}

.name {
  background-color: blue;
  width: 30%;
  text-align: start;

  color: white;
}

.name2 {
  background-color: blue;
  width: 30%;
  text-align: start;

  color: white;
}

.name3 {
  background-color: blue;
  width: 35%;
  text-align: start;

  color: #ffffff;
}

.azzurra {
  background-color: rgb(164, 209, 252);
  text-align: center;
  text-align: start;
}

.bianca {
  background-color: rgb(255, 255, 255);
  text-align: center;
  text-align: start;
}

li {
  margin-left: -20px;
}

#font_table {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

h1 {
  font-size: 40px;
  margin-bottom: 0px;
}
#sottotitolo {
    color: grey;
    font-size: 15px;
}
#sottotitolo2 {
    color: grey;
    font-size: 12px;
}
#logo{
  background-image: url(../img/pattern.png);
  height: 200px;
  padding-left: 100px;
  line-height: 300px;
  font-size: 100px;
  margin-left: -100px;
  margin-right: -100px;
background-color: aqua;

}